@media only screen and (max-width: 575px) {
    .S1H1 {
        font-size: 28px;
    }

    .S1D1 {
        width: 100vw;
        border: none;
    }

    .S1D2 {
        padding-top: 8vh;
        width: 100vw;
    }

    .S1H2 {
        font-size: 25px;
    }

    .S1P {
        font-size: 20px;
    }

    .S1L2 {
        font-size: 22px;
    }

    .HL2 {
        font-size: 18px;
    }

    .S2D2 {
        height: 1580px;
    }

    .S2M2 {
        margin-bottom: 370px;
    }
}

@media only screen and (min-width: 575px) {
    .S2D2 {

        height: 1650px;
    }

    .S2M2 {
        margin-bottom: 370px;
    }
}

@media only screen and (min-width: 768px) {
    .S1H1 {
        font-size: 45px;
    }

    .S1D1 {
        width: 50vw;
    }

    .S1D2 {
        width: 50vw;
    }

    .S1H2 {
        font-size: 30px;
    }

    .S1L2 {
        font-size: 22px;
    }

    .HL2 {
        font-size: 22px;
    }

    .S2D2 {
        height: 1700px;
    }

    .S2M2 {
        margin-bottom: 350px;
    }
}

@media only screen and (max-width: 992px) {
    .S4H2 {
        font-size: 5vw;
    }

    .S4P1 {
        font-size: 3vw;
    }
}

@media only screen and (min-width: 992px) {
    .S1H1 {
        font-size: 70px;
    }

    .S1D1 {
        width: 50vw;
    }

    .S1D2 {
        width: 50vw;
    }

    .S1H2 {
        font-size: 32px;
    }

    .S1P {
        font-size: 20px;
    }

    .S1L2 {
        font-size: 30px;
    }

    .S2D2 {
        height: 1750px;
    }

    .S2M2 {
        margin-bottom: 340px;
    }

    .S4H2{
        font-size: 3vw;
    }
    
    .S4P1{
        font-size: 1.5vw;
    }
}

@media only screen and (min-width: 1200px) {
    .S1H1 {
        font-size: 90px;
    }

    .S1D1 {
        width: 40vw;
    }

    .S1D2 {
        width: 40vw;
    }

    .S1H2 {
        font-size: 32px;
    }

    .S1P {
        font-size: 22px;
    }

    .S2D2 {
        height: 1800px;
    }

    .S2M2 {
        margin-bottom: 320px;
    }
}

@media only screen and (min-width: 1400px) {
    .S1H1 {
        font-size: 110px;
    }

    .S1D1 {
        width: 40vw;
    }

    .S1D2 {
        width: 40vw;
    }

    .S1H2 {
        font-size: 45px;
    }

    .S1P {
        font-size: 30px;
    }

    .HL2 {
        font-size: 30px;
    }

    .S2D2 {
        height: 1900px;
    }
}

.H {
    background-image: url(../images/bg.png);
    background-size: 100%;
}

.HH1 {
    padding-top: 8vh;
    font-family: 'Alegreya', serif;
    font-size: 12vw;

}

.HD {
    position: relative;
}

.HH2 {
    padding-top: 11vh;
    font-family: 'Anton', sans-serif;
    color: #ff4972;
    font-size: 18vw;
}


.HM {
    width: 16vw;
}


h1.relative {
    position: relative;
}

div.absolute {
    position: absolute;
    right: 0;
    bottom: -5vw;
    margin-right: 17vw;
}

.HBT {
    margin-top: 44px;
    background-color: #eb34c1;
    font-family: 'Alegreya', serif;
    font-size: 22px;
    z-index: 10000;
}

.HBT:hover {
    background-color: #ff4972;
}

.HL1 {
    max-height: 300px;
}

.HL2 {
    color: white;
    text-decoration: none;
}

.HL2:hover {
    color: white;
}

.H3 {
    color: black;
    font-family: 'Alegreya', serif;
}


.HL3 {
    color: black;
}

.HL3:hover {
    color: black;
}

.HC1 {
    font-family: 'Alegreya', serif;
    font-size: 3vw;
    color: #eb34c1;
}

.HC2 {
    padding-top: -50px;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 8vw;
    color: #000;
}

.marquee-text-copy {
    margin-right: 8vw;
    padding-top: 6px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    font-family: 'Alegreya', serif;
    color: #002800;
    font-size: 27px;
    font-weight: 200;
    text-transform: uppercase;
}

.track-horizontal-alt {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    direction: ltr;
    font-family: Ozik, sans-serif;
    color: #fbf8eb;
    font-size: 20px;
    font-weight: 500;
    white-space: normal;
    width: 100vw;
}


.marquee-members-include {
    position: relative;
    z-index: 200;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    height: 50px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 2px solid #002800;
    background-color: #fbf8eb;
}

.S1 {
    background-color: #fbf8eb;
    border-bottom: 5px solid black;
}

.S1H1 {
    padding-top: 5vh;
    font-family: 'Alegreya', serif;
}

.S1D1 {
    border-right: 2px solid #002800;
}



.S1H2 {
    font-family: 'Alegreya', serif;
}

.S1P {
    font-family: 'Alegreya', serif;
}

.S1L {
    color: #ff4972;
}

.S1L:hover {
    color: #00d8ff;
}

.S1L2 {
    color: black;
    text-decoration: none;
}

.S1L2:hover {
    color: black;
}

.S1BT {
    background-color: #00d8ff;
    font-family: 'Alegreya', serif;
}

.S1BT:hover {
    background-color: #ffd8db;
}







.S2 {
    align-items: center;
    background: url(../images/bg2.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.relative2 {
    position: relative;
}

.absolute2 {
    position: absolute;
    left: 9.9vw;
    bottom: -185px;
}

.sticky {
    position: sticky;
}

.S2D1 {
    padding-top: 1290px;
}

.S2M1 {
    width: 30vw;
    margin-bottom: 200px;
}

.S2M2 {
    width: 10.8vw;
    padding-top: 10vw;
}







.S3 {
    background-color: #00ddff;
    border-bottom: 5px solid black;
}

.S3H1 {
    font-size: 10vw;
    font-family: 'Alegreya', serif;
}

.S3H2 {
    font-size: 3vw;
    font-family: 'Alegreya', serif;
}







.S4 {
    background-color: #0c5cb3;
    border-bottom: 5px solid black;
}

.S4DM {
    display: flex;
    align-items: stretch;
    justify-content: space-around
}

.S4H1 {
    font-family: 'Righteous', cursive;
    font-size: 7vw;
    color: #ffc715;
}


.S4D2 {
    border: 5px solid black;
    background-color: #fbf8eb;
    min-height: 100%;
}

.S4H2 {
    font-family: 'Alegreya', serif;
}

.S4P1 {
    font-family: 'Alegreya', serif;
}
